Cython==0.29.12
matplotlib==3.1.1
numpy==1.16.4
opencv-python==4.1.0.25
Pillow==8.2.0
pyaml==19.4.1
pygobject==3.26.1
pyparsing==2.4.5
python-dateutil==2.8.0
PyYAML==5.1.1
six==1.11.0
torch==1.1.0
torchvision==0.3.0
tqdm==4.32.2
yacs==0.1.6
numba==0.46.0
scikit-learn==0.20.4
filterpy==1.4.5